@CHARSET "UTF-8";

/* BTW alt-shift will pop a color picker 
  example color: followed  by alt shift will pop it
*/
/*
Hide the label if placeholder is supported
*/

body{
  background:#b4b4b4;
}

#upload-form {
  font-family:'Open Sans Condensed', sans-serif;
	width: 400px;
  min-width:250px;
	margin: 20px auto;
	position: relative;
}

#upload-form .fieldset {
	background-color:#d5d5d5;

	border-radius: 3px;
  
}

 #upload-form legend {
	text-align: center;
	background: #1F2324;
	width: 100%;
	padding: 30px 0;
	border-radius: 3px 3px 0 0;
	color: white;
font-size:2em;
}

.fieldset form{
  border:0px;	
  margin:0 auto;
  display:block;
  width:100%;
  padding:30px 20px;
  box-sizing:border-box;
  border-radius:0 0 3px 3px;
}
.placeholder #upload-form label {
	display: none;
}
 .no-placeholder #upload-form label{
margin-left:5px;
  position:relative;
  display:block;
  color:grey;
  text-shadow:0 1px white;
  font-weight:bold;
}
/* all */
::-webkit-input-placeholder { text-shadow:1px 1px 1px white; font-weight:bold; }
::-moz-placeholder { text-shadow:0 1px 1px white; font-weight:bold; } /* firefox 19+ */
:-ms-input-placeholder { text-shadow:0 1px 1px white; font-weight:bold; } /* ie */
#upload-form input[type=text] {
	padding: 15px 20px;
	border-radius: 1px;
  margin:5px auto;
  background-color:#f7f7f7;
	border: 1px solid silver;

	-webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,0.2);
	box-shadow: inset 0 1px 5px rgba(0,0,0,0.2), 0 1px rgba(255,255,255,.8);
	width: 100%;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  -webkit-transition:background-color .5s ease;
-moz-transition:background-color .5s ease;
-o-transition:background-color .5s ease;
-ms-transition:background-color .5s ease;
transition:background-color .5s ease;
}
#upload-form input[type=password] {
	padding: 15px 20px;
	border-radius: 1px;
  margin:5px auto;
  background-color:#f7f7f7;
	border: 1px solid silver;

	-webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,0.2);
	box-shadow: inset 0 1px 5px rgba(0,0,0,0.2), 0 1px rgba(255,255,255,.8);
	width: 100%;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  -webkit-transition:background-color .5s ease;
-moz-transition:background-color .5s ease;
-o-transition:background-color .5s ease;
-ms-transition:background-color .5s ease;
transition:background-color .5s ease;
}
.no-placeholder #upload-form input[type=text] {
	padding: 10px 20px;
}
.no-placeholder #upload-form input[type=password] {
	padding: 10px 20px;
}
#upload-form input[type=text]:active, .placeholder #upload-form input[type=text]:focus {
	outline: none;
	border-color: silver;
  background-color:white;
}
#upload-form input[type=password]:active, .placeholder #upload-form input[type=password]:focus {
	outline: none;
	border-color: silver;
  background-color:white;
}


#upload-form input[type=submit] {
  font-family:'Open Sans Condensed', sans-serif;
  text-transform:uppercase;
  outline:none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	background-color: #5C8CA7;
	padding: 10px;
	color: white;
	border: 1px solid #3498db;
	border-radius: 3px;
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 5px;
	cursor: pointer;
  position:relative;
  top:0;
}

#upload-form input[type=submit]:hover {
	background-color: #2980b9;
}

#upload-form input[type=submit]:active {
background:#5C8CA7;
}


.parsley-error-list{
background-color:#C34343;
padding: 5px 11px;
margin: 0;
list-style: none;
border-radius: 0 0 3px 3px;
margin-top:-5px;
  margin-bottom:5px;
  color:white;
  border:1px solid #870d0d;
  border-top:none;
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position:relative;
  top:-1px;
  text-shadow:0px 1px 1px #460909;
    font-weight:700;
  font-size:12px;
}
.parsley-error{
	border-color:#870d0d!important;
  border-bottom:none;
}
#upload-form select{
	width:100%;
	padding:5px;
}
::-moz-focus-inner {
  border: 0;
}
p#categoryForFiles {
	margin-bottom: 0.3em;
}
#fileCategory {
	-o-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}
#warningUpload, #appendTitleWarning {
	color: red;
}

/* Button for Upload: */

.file-drop-area {
  border: 1px dashed #1F2324 /*($background, 30%)*/;
  border-radius: 3px;
  position: relative;
  width: 450px;
  max-width: 100%;
  margin: 0 auto;
  padding: 26px 20px 30px;
  transition: 0.2s;
  &.is-active {
    background-color: $background--light;
  }
}

.fake-btn {
  background-color: #39D2B4; /*#3F4069*/
  border: 1px solid #9E9EC4;
  border-radius: 3px;
  padding: 8px 15px;
  margin-right: 8px;
  font-size: 12px;
  text-transform: uppercase;
}

.file-msg {
  font-size: small;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: calc(100% - 130px);
  vertical-align: middle;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  &:focus {
    outline: none;
  }
}
#uploadFormIntro {
	width: 100%;
}
.helloUpload {
	color: #1F2324;
	font-weight: bold;
	font-size: 1.1em;
	text-align: center;
	padding: 1em;
}
.helloUploadMessage {
	color: #1F2324;
	font-weight: 600;
	text-align: center;
	padding: 1em;
	line-height: 2em;
}
.helloUploadMessage a {
	color: #226ee8;
}
.helloUploadMessage a:hover {
	text-decoration: underline;
}
.helloUploadMessage a:active {
	text-decoration: underline;
	color: #8eafe2;
}
#titleUploadLink {
	margin-left: 2em;
	font-weight: bolder;
	font-size: 1.5em;
	color: #4286f4;
}
#titleUploadLink img {
	vertical-align: middle;
}

#bearContainer {
	width: 30em;
	height: auto;
	margin: 0 auto;
	max-width: 100%;
}
#bearContainer img {
	width: 100%;
}
#birdsContainer {
	width: 20em;
	height: 25em;
	height: auto;
	margin: 0 auto;
}
#birdsContainer img {
	width: 100%;
	height: auto;
}