@CHARSET "UTF-8";

#contentWrapper {
	width: 100%;
	height: auto;
}
#leftAside {
	width: 15%;
	height: 30em;
	float: left;
}
#mainContent {
	width: 70%;
	height: auto;
	border-left: 1px solid black;
	border-right: 1px solid black;
	display: inline-block;
}
#rightAside {
	width: 15%;
	height: 30em;
	float: right;
}
.poster {
	width: 98.5%;
	margin: 0 auto;
	border-bottom: 1px solid black;
}
.posterTitle {
	text-align: center;
	padding: 1em;
}
.posterContainer {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}
.posterGraphic {
	max-width: 100%;
	min-width: 80%;
	display: block;
	margin: 0 auto;
	max-height: 30em;
	background-color: lightGrey;
	/*object-fit: fill;*/
}
.like, .dislike {
	width: 3em;
	height: 3em;
	font-size: 1em;
	background-color: Transparent;
    background-repeat: no-repeat;
	cursor: pointer;
    overflow: hidden;
    outline: none;
}
.like {
	color: green;
	border: 1px solid green;
}
.dislike {
	color: red;
	border: 1px solid red;
}
.like:hover, .dislike:hover, .like:active, .like:hover {
	font-weight: bold;
	font-size: 1.2em;
}
